body{
    font-family: Arial, Helvetica, sans-serif
}
.tamanho{
    font-size: 20px;
}

.centro{
    text-align: center;
}

nav{
    background-color: rgb(62, 62, 62);
    padding: 1rem;
}

nav a{
    text-decoration: none;
    color: white;
}

section{
    margin-top: 20px;
    margin-left: 20px;
}

.justificado{
    text-align: justify;
}

header{
    color: rgb(255, 255, 255);
    background-color: rgb(88, 88, 88);
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem; /* se quiser um pequeno espaço */
}
